@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  background-color:#F1F1F1;
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4EB269;
  border-radius: 12px;
}

body {
color: #F3F4F6;
background: #F3F4F6
}

 